

<!--  EXIT POPUP  -->
<!-- FOR POPUP EXIT ONLY -->

<div id="exit_pop" class="modal hide fade" aria-hidden="true" displayed="false">

  <div class="modal-dialog">
    <div class="modal-content">



     <div class="popleft">
      <div class="modal-header" style="background:#f6b33d -moz-linear-gradient(center top , #f6b33d 5%, #d29105 100%) repeat scroll 0 0;">

       <div class="closebutton">  <a class="close" data-dismiss="modal">Close</a> </div>



       <h3 class="poptitle">Before You Go...</h3>
        <p class="popsubtitle">Clay Body Wraps is giving away 50 Introductory Kits to new customers only!</p>
        <p class="popoffer1">This limited time offer is <br>
          <span style="text-transform: uppercase;font-weight: bold;font-style: italic;">available today!</span></p>

          <%= image_tag 'underline.png' %>



      </div>
      <div class="modal-body">
        <p class="popoffer2">Why is this great product available for free?</p>
         <p class="popoffer3">The simple answer is, because the company that makes Clay Body Wraps is confident their product will help you, and once your family and friends see your amazing results, they'll become customers too.</p>
      </div>
    </div>






      <div class="popright">
      <div class="closebutton2"> <a class="close" data-dismiss="modal">Close</a> </div>
         <div class="closebutton3">  <a class="close" data-dismiss="modal">Close</a> </div>

      <%= image_tag 'placeholder.png', { style: "margin-top: 5px;"} %>
      <!-- <img src="assets/placeholder.png" style="margin-top: 5px;" /> -->

    </div>

    <div class="clearfix"></div>

     <div class="ordernow" style="text-align: center; margin-bottom: 20px;">
      <button>
       <span style="
    font-size: 20px;
             ">Click to Claim Your <span style="font-weight:bold;">30 DAY FREE SUPPLY</span></span>
      </button>


    </div>

    </div>



  </div>
</div>
<!--  END EXIT POPUP  -->
